[Desktop Entry]
Version=1.0
Type=Application
Name=DocReader
Comment=Ouvre les fichiers Word via conversion PDF
Exec=/usr/bin/docreader %f
Icon=docreader
Terminal=false
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/msword;
Categories=Office;
NoDisplay=false
